.index1 {
  background-color: red;
  width: 300px;
  height: 100px;
}
.index2 {
  background-color: black;
  width: 300px;
  height: 100px;
}
.index3 {
  background-color: blue;
  width: 300px;
  height: 100px;
}
